  
body {
  font-family: 'open sans';
  overflow-x: hidden; 
background-image: url('back.jpeg');
    background-size:cover;
    padding: 0px;
}

li{
list-style: none;
}

preimg{
 width: 100px;
 height: 100px;   
    
}

img {
  max-width: 100%; }

.rinfo{
    margin-top: 20px;
}

.preview {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }
  
@media screen and (max-width: 996px) {
    .preview {
      margin-bottom: 20px; } 
      product-info{
          margin-left: 20px;
      }

}

.preimg li {
    width: 15%;
    margin-top: 20px;
    margin-left: -60px
    
}


.tab-content {
  overflow: hidden; }
        


  .tab-content img {
    width: 60%;
    -webkit-animation-name: opacity;
            animation-name: opacity;
    -webkit-animation-duration: .3s;
            animation-duration: .3s; }



.details {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; 
}


.product-title, .price, .sizes, .colors {
  text-transform: UPPERCASE;
  font-weight: bold; 
margin-top: 1px;
}

.checked, .price span {
  color: #ff9f1a; }

.product-title, .product-description, .price, .sizes {
  margin-bottom: 10px; }


.rating{
font-size: 17px;
}

.review-no{
  font-size: 20px  
}

.product-title {
  margin-top: 15; }

@-webkit-keyframes opacity {
  0% {
    opacity: 0;
    -webkit-transform: scale(3);
            transform: scale(3); }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1); } }

@keyframes opacity {
  0% {
    opacity: 0;
    -webkit-transform: scale(3);
            transform: scale(3); }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1); } }






@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css); 

/****** Style Star Rating Widget *****/

.rating { 
  border: none;
  float: left;
}

.rating > input { display: none; } 
.rating > label:before { 
  margin: 1px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.rating > .half:before { 
  content: "\f089";
  position: absolute;
}

.rating > label { 
  color: #ddd; 
 float: right; 
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { color: #FFED85;  } 
